{% extends "layout.html" %}
{% block body %}
<form action="{{ url_for('login_screen') }}" method="post" class="add-entry">
    <dl>
      <dt>Username:
      <dd><input type="text" size="30" name="user">
      <dt>Password:
      <dd><input type="text" size="30" name="password">
      <dt>Title:
      <dd><input type="text" size="30" name="title">
      <dd><input type="submit" value="Share">
    </dl>
</form>
<form action="{{ url_for('logout') }}" method="post" class="add-entry">
  <dl>
    <dd><input type="submit" value="logout">
  </dl>
</form>
{% endblock %}
