{% extends "layout.html" %}
{% block body %}
<a action="{{ url_for('staff_page') }}" class="add-entry">
  <ul class="entries">
    {% for e in events %}
      {% if e.event_staff_count < 3 %}
        <li><h3>{{ e.event_title }} commissioned by {{ e.event_user}}</h3>
          <p>date: {{ e.event_date }}</p>
          current staff:
          {% for s in staff%}
            {% if s.event_date == e.event_date %}
            <p>{{s.event_staff}}</p>
            {% endif %}
          {% endfor %}
          <form action="{{ url_for('sign_up') }}" method="post">
            <dl>
              <dd><input type="hidden" name="event_date" value={{e.event_date}} />
              <dd><input type="submit" value="sign up">
            </dl>
          </form>
      {% endif %}
    {% endfor %}
    {% if not atl %}
      <li><em> there are no current events </em>
    {% endif %}
    </ul>
</a>
<form action="{{ url_for('logout') }}" method="post" class="add-entry">
    <dl>
      <dd><input type="submit" value="logout">
    </dl>
  </form>
{% endblock %}
